// Color

$basic-black: #1b1f2b;
$basic-white: #ffffff;
$basic-orange: #efa501;
$basic-green: #286562;
$basic-gray: #a6a6a6;
$basic-beige: #f4f0e9;
$basic-semi-orange: #f8e6be;
$basic-semi-green: #e0f0e5;
$basic-semi-gray: #f1f3f2;
$basic-semi-beige: #f9f7f4;
$basic-dark-green: #3b737b;
$basic-dark-gray: #d9dfdb;
$special-green: #627f7e;

// BreakPoints

$tablet: 920px;
$desktop: 1200px;
