//Form
.form {
  background-color: $basic-white;
  border-radius: 30px;
  padding: 20px 20px 40px;

  @include tablet {
    padding: 60px;
  }
}

.form__group {
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  border: none;
}


// List

.form__list {
  @include overlay;
  display: grid;
  row-gap: 30px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 33px;
  }
}

.form__list-checkbox {
  display: flex;
  column-gap: 0;
  row-gap: 0;
}

.form__item-checkbox {
  &:not(:last-child) {
    margin-right: 30px;
  }
}


.form__field {
  display: flex;
  flex-direction: column;
}


.form__field-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: inherit;
  margin-bottom: 8px;

  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }
}

.form__input {
  background-color: $basic-semi-beige;
  border: 1px solid $basic-beige;
  border-radius: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: $basic-gray;

  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }

  &:focus-visible {
    outline: 2px solid rgb(222, 161, 222);
  }
}

.form__input[type="date"] {
  text-transform: uppercase;
}

.form__input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form__item-textarea {
  @include tablet {
    grid-column: 1/-1;
  }
}

.form__textarea {
  resize: none;
  min-height: 132px;

  @include tablet {
    grid-column: 1/-1;
  }
}

.form__field-radiobox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.form__field-radiobox .form__field-title {
  margin-bottom: 0;
}

// Radiobox

.form__checkbox {
  &--control {
    position: absolute;
    border: 2px solid $basic-black;
    left: 0;
    cursor: pointer;
    background-color: $basic-white;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    @include tablet {
      width: 26px;
      height: 26px;
    }
  }
}

.form__checkbox:focus-visible + .form__checkbox--control {
  outline: 2px solid rgb(221, 160, 221);
  outline-offset: 1px;
}

.form__checkbox:checked + .form__checkbox--control::before {
  content: "";
  position: absolute;
  background-color: $basic-black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    width: 12px;
    height: 12px;
  }
}


.form__field-checkbox-text {
  color: $basic-gray;
  margin-bottom: 0;
  padding-right: 15px;
}

.form__field-checkbox-text a {
  color: $basic-black;
  text-decoration: none;
}

.form__field-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

// Checkbox

.form__input-checkbox {
  &--control {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: $basic-white;
    border: 2px solid $basic-black;
    border-radius: 5px;

    @include tablet {
      width: 26px;
      height: 26px;
    }
  }
}

.form__input-checkbox:focus-visible + .form__input-checkbox--control {
  outline: 2px solid rgb(221, 160, 221);
  outline-offset: 1px;
}

.form__input-checkbox:checked + .form__input-checkbox--control::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 6px;
  border-left: 2px solid $basic-black;
  border-bottom: 2px solid $basic-black;

  @include tablet {
    width: 13px;
    height: 8px;
  }
}

.form__field-checkbox-link {
  &:focus-visible {
    outline: 2px solid rgb(221, 160, 221);
  }
}

// Button

.form__wrapper-button {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 278px;
  margin: auto;

  @include tablet {
    gap: 10px;
    width: 100%;
    margin: 0;
  }
}

.button__sub {
  color: $basic-white;
  background-color: $basic-green;

  @media (any-hover: hover) {
    &:hover {
      background-color: $basic-dark-green;
    }
  }

  &:focus-visible {
    outline: 2px solid rgb(221, 160, 221);
    outline-offset: 2px;
  }

  &:active {
    background-color: $special-green;
  }
}

.button__res {
  background-color: $basic-semi-green;
  color: $basic-green;

  @media (any-hover: hover) {
    &:hover {
      background-color: $basic-semi-gray;
    }
  }

  &:focus-visible {
    outline: 2px solid rgb(221, 160, 221);
    outline-offset: 2px;
  }

  &:active {
    background-color: $basic-dark-gray;
  }
}
