// Menu

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 20px;

  @include tablet {
    padding: 29px 57px;
  }

  @include desktop {
    padding: 29px 0;
    max-width: 1170px;
    margin: 0 auto;
  }
}


// List

.menu__list {
  @include overlay;
  display: none;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    width: 410px;
    font-size: 20px;
  }

  @include desktop {
    width: 470px;
    column-gap: 50px;
  }
}

// Item

.menu__item {
  @include tablet {
    font-family: 400;
    line-height: 28px;
  }
}

.menu__link {
  @include tablet {
    text-decoration: none;
    color: inherit;
  }
}

// Logo

.menu__logo img {
  width: 133px;
  height: 22px;

  @include tablet {
    width: 182px;
    height: 31px;
  }
}

// Phone

.menu__phone {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }
}

