// List
.navigation__list {
  @include overlay;
  display: none;

  @media (min-width: 920px) {
    display: flex;
    gap: 30px;
  }

  @include desktop {
    gap: 50px;
  }
}

// Link

.navigation__link,
.navigation__phone {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--_basic-white);
    width: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: width 0.5s, opacity 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

