// Photo

// Title


// Description

.photo__description {
  color: $basic-gray;
}


// List

.photo__list {
  @include overlay;
  padding-left: 21px;
  padding-right: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  min-height: 110px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.photo__item {
  width: 100%;
  height: 110px;
}

.photo__item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.photo__list--two {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  min-height: 110px;
}
