// Reviews


// Description

.reviews__description {
  color: $basic-gray;
}

// List

.reviews__list {
  @include overlay;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 18px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

// Item

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: $basic-beige;
  border-radius: 20px;

  @include tablet {
    padding: 40px;
  }
}

// Text

.reviews__item-text {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: inherit;
  margin-bottom: 56px;

  @include tablet {
    font-size: 23px;
    line-height: 27px;
  }
}


// Info

.reviews__item-info {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;
  row-gap: 8px;
  margin-top: auto;
}

// Info-title

.reviews__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: inherit;
  padding-top: 25px;

  @include tablet {
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
  }
}

// Info-description

.reviews__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: $basic-gray;
  grid-column: 1/-3;
  grid-row: 2/-2;

  @include tablet {
    font-size: 17px;
  }
}

// Avatar

.reviews-avatar {
  grid-row: 2 span;
  grid-column: 2/-1;
  width: 75px;
  height: 75px;
}

.reviews__item-avatar {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
