// Stories


// List

.stories__list {
  @include overlay;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include tablet {
    gap: 50px;
  }
}

// Card

.stories__card {
  padding: 30px;
  min-height: 455px;

  @include tablet {
    padding: 60px;
    min-height: 561px;
  }
}

.stories__card-header {
  max-width: 570px;
}

.stories__card-header h3 {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 37px;
  }
}

.stories__card-header p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--_basic-white);

  @include tablet {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 28px;
  }
}

.stories__card-list {
  @include overlay;

  li {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--_basic-white);
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      height: 5px;
      width: 5px;
      background-color: var(--_basic-white);
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }

  @include tablet {
    li {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.stories__card-footer {
  justify-content: space-between;
}

.stories__card-footer ul {
  @include overlay;
  display: none;


  @include tablet {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    column-gap: 35px;

    li {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    a {
      padding-bottom: 5px;
      position: relative;
      z-index: 99;
      text-decoration: none;
      color: var(--_basic-white);
    }
  }
}

@media (any-hover: hover) {
  .stories__card-footer__button:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
  }
}

.stories__card-footer__button:active {
  color: var(--_orange);
}
