// Tour
.tour {
  padding-top: 75px;
}

// List

.tour__list {
  @include overlay;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 318px;

  @include tablet {
    font-size: 23px;
    margin-bottom: 100px;
    grid-template-columns: repeat(5, min-content);
    gap: 30px;
    grid-template-rows: min-content;
    width: 100%;
  }
}


// Item

.tour__item {
  font-weight: 700;
  line-height: 23px;
  justify-self: center;

  @include tablet {
    line-height: 28px;
  }
}

// Link

.tour__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &--current {
    color: $basic-orange;
    border-bottom: 2px solid $basic-orange;
  }

  @media (any-hover: hover) {
    &:hover {
      border-bottom: 2px solid $basic-black;
    }
  }

  &:focus-visible {
    outline: 2px solid rgb(221, 160, 221);
    outline-offset: 2px;
  }

  &:active {
    color: rgb(0, 0, 0, 0.3);
    border-color: rgb(0, 0, 0, 0.3);
  }
}
