// Tour

.tour {
  h2 {
    margin-bottom: 30px;
  }

  @include tablet {
    h2 {
      margin-bottom: 35px;
    }
  }
}

// Content

.tour__contet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

// List

.tour__list {
  @include overlay;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include tablet {
    gap: 30px;
  }
}


// Item

.tour__item {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @include tablet {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
  }
}

// Link

.tour__link {
  position: relative;
  text-decoration: none;
  color: var(--_basic-black);
  padding-bottom: 6px;
  cursor: pointer;

  &::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--_orange);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: width, opacity, 0.5s ease;
  }

  &--active {
    color: var(--_orange);

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: var(--_orange);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  &:hover {
    color: var(--_orange);

    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

