// Box-Model

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Images */

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Aria", sans-serif;
  font-size: 13px;
  line-height: 1em;
  min-height: 360px;
  background-color: var(--_semi-beige);
  color: var(--_basic-black);
}

.title-content {


  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--_gray);
    text-align: center;
  }

  @include tablet {
    margin-bottom: 100px;

    p {
      padding-left: 150px;
      padding-right: 150px;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

a {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
