// Color

:root {
  --_basic-black: #1b1f2b;
  --_basic-white: #ffffff;
  --_orange: #efa501;
  --_green: #286562;
  --_gray: #a6a6a6;
  --_beige: #f4f0e9;
  --_semi-orange: #f8e6be;
  --_semi-green: #e0f0e5;
  --_semi-gray: #f1f3f2;
  --_semi-beige: #f9f7f4;
  --_dark-green: #3b737b;
  --_dark-gray: #d9dfdb;
  --_special-green: #627f7e;
}

// BreakPoints

$tablet: 768px;
$desktop: 1200px;
